<!--<header>
  <span> Курс доллара: <span class = "us"> </span></span>
  <span> Курс евро: <span class = "eu"> </span></span>
</header>
<div class = "main">
  <div>
    <input type = "text"  [(ngModel)] = "title"  (input)="inputChange($event)" id="f_id"/>
    <select class = "select1" value = "" (selectionchange)="selectChange()" [(ngModel)]="seltitle">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="UAH">UAH</option>
    </select>
  </div>
  <div>
    <input type = "text" [(ngModel)] = "title2" (input)="inputChange2($event)" id="s_id"/>
    <select class = "select2" value = "">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="UAH">UAH</option>
    </select>
  </div>

</div>-->

